@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-heading: 'Montserrat', 'sans-serif';
}

html {
	font-family: 'Raleway', sans-serif;
	font-weight: medium;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Montserat', sans-serif;
}
